<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        width: 200px;
        height: 200px;
      "
    >
      <a href="/Comedy">Comedy</a>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        width: 200px;
        height: 200px;
      "
    >
      <a href="/Drama">Drama</a>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        width: 200px;
        height: 200px;
      "
    >
      <a href="/Horror">Horror</a>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        width: 200px;
        height: 200px;
      "
    >
      <a href="/Romance">Romance</a>
    </div>
  </body>
</html>
